// Temp_singlePage style variables

primaryColor = #0076ff
secondaryColor = #cde4ff

textDark = #081126
textLight = #74777d

bgLight = #f1f2f4 
bgDark = #252525

baseWhite = #ffffff
accentColor = #f6a623
