footer.site-footer
  .container
    .footer-brand
      a.footer-logo(href="#") TailorMed
      p.footer-mission Our mission is to provide unparalleled temperature-controlled solution that ensure the safe and timely delivery of your valuable products.
      .social-links
        a.social-icon(href="#", aria-label="Facebook")
          span.icon-facebook F
        a.social-icon(href="#", aria-label="LinkedIn")
          span.icon-linkedin in
        a.social-icon(href="#", aria-label="X")
          span.icon-x X
    .footer-links
      .footer-nav
        h3.footer-heading Sitemap
        ul.footer-list
          li: a(href="#expertise") Expertise
          li: a(href="#insight") Insight
          li: a(href="#about") About
          li: a(href="#support") Support
          li: a(href="#contact") Contact
      .footer-support
        h3.footer-heading Solutions
        ul.footer-list
          li: a(href="#cell-gene") Cell & Gene Therapy
          li: a(href="#bio-sample") Bio-Sample
          li: a(href="#clinical-trial") Clinical Trial
          li: a(href="#pharma") Pharmaceuticals
          li: a(href="#ivf") In Vitro Fertilization
          li: a(href="#depot") Depot & Distribution
          li: a(href="#vaccine") Vaccine
    .footer-social
      .footer-contact
        h3.footer-heading Contact Us
        ul.footer-list
          li
            span.contact-label Tel:
            span.contact-text +886 2-2694-6168
          li
            span.contact-label Fax:
            span.contact-text +886 2-2694-6169
          li
            span.contact-label Email:
            span.contact-text customer-service@tailormed-intl.com
      .footer-actions
        a.btn.btn--track(href="track/index.html", target="_blank", rel="noopener") Shipment Track
  .footer-meta
    .container
      p.footer-copy © 2025 TailorMed. All Rights Reserved.
      .footer-legal
        a.footer-link(href="#") Terms of Use
        span.separator ·
        a.footer-link(href="#") Privacy Policy
