header.site-header
  .container
    .site-brand
      a.site-logo(href="#") TailorMed
    nav.site-nav
      ul.nav-list
        li: a(href="#") Home
        li: a(href="#solutions") Solution
        li: a(href="#expertise") Expertise
        li: a(href="#insight") Insight
        li: a(href="#about") About
        li: a(href="#support") Support
        li: a(href="#contact") Contact
    .header-actions
      a.btn.btn--track(href="track/index.html", target="_blank") Track
