footer.temp-footer
  .container
    p.address DONGGUAN YAYAN COMPOSITE MATERIALS Co., LTD.｜Room 402, Building 3, No. 18, Lane 3, Jinshan 1st Street, Rome, Qingxi Town, Dongguan City, Guangdong Province, China
    p © 2025 DONGGUAN YAYAN COMPOSITE MATERIALS Co., LTD. All rights reserved.
