header.temp-header
  .container
    a.temp-logo(href="#hero")
      img(src="images/logo.png", alt="YAYAN Composite Logo")
      span.temp-logo-text DONGGUAN YAYAN<br/>COMPOSIT MATTERIALS
    nav.temp-nav
      ul.temp-nav-list
        li: a(href="#product-banner") Products
        li: a(href="#about-banner") About
        li: a(href="#advantage-banner") Advantages
        li: a(href="#certificate-banner") Certificates
        li: a(href="#hot-products-banner") Hot Products
