footer.site-footer
  .footer-top
    .container
      a.footer-logo(href="#") Brand
      nav.footer-nav
        ul.footer-nav-list
          li: a(href="#section-1") Section 1
          li: a(href="#section-2") Section 2
          li: a(href="#section-3") Section 3
  .footer-bottom
    .container
      .footer-links
        a.footer-link(href="#") Terms of Use
        span.divider ·
        a.footer-link(href="#") Privacy Policy
      .footer-copy
        span © #{new Date().getFullYear()} Temp Single Page. All rights reserved.
