header.site-header
  .container
    a.site-logo(href="#") Brand
    nav.site-nav
      ul.nav-list
        li: a(href="#section-1") Section 1
        li: a(href="#section-2") Section 2
        li: a(href="#section-3") Section 3
    .header-actions
      a.btn-cta(href="#") Button
